<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>MY MEAN BLOG</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Full featured Blogging using MEAN. IT works Awesome check out..!
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/posts" target="_blank">Show Posts</a>
        <a class="btn btn-success btn-lg" href="/posts/create" target="_blank">Create Posts</a>
      </p>
    </div>
  </div>
</section>
  <div class="fun" id="fun">
    <div class="row">
      <h1>Services</h1>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <p>
          User's can Authenticate & <br />Enjoy all the  features
          <br />Highly Secured Of course
        </p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <i class="fa fa-th-large" aria-hidden="true"></i>
        <p>
          Oh Yeah ! Now You can blog <br />
          Look at others posts and Enjoy
        </p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
        <p>
          Connectivity<br />
          The most Powerful tool
        </p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <i class="fa fa-superpowers" aria-hidden="true"></i>
        <p>
          User has Superpowers<br />
          Edit your profile<br />
          Add picture & Keep Going
        </p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <h4 class="wow fadeInUp">Contact Us</h4>
              <p><i class="fa fa-home" aria-hidden="true"></i> 2400 Wade Blvd</p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i> dutthunk.143@gmail.co</p>
              <p><i class="fa fa-phone" aria-hidden="true"></i> +1 216-543-****</p>
          </div>
              <div class="col-lg-4 col-md-4">
                  <h4>About</h4>
                  <p><i class="fa fa-superpowers" aria-hidden="true"></i> About</p>
                  <p><i class="fa fa-superpowers" aria-hidden="true"></i> Privacy</p>
                  <p><i class="fa fa-superpowers" aria-hidden="true"></i> Terms & Conditions</p>
              </div>
          <div class="col-lg-4 col-md-4">
              <h4>Stay in touch</h4>
              <i class="fa fa-facebook-official social" aria-hidden="true"></i>
              <i class="fa fa-linkedin-square social" aria-hidden="true"></i>
              <i class="fa fa-twitter-square social" aria-hidden="true"></i>
              <i class="fa fa-instagram social" aria-hidden="true"></i>
              <i class="fa fa-pinterest-square social" aria-hidden="true"></i>
              <i class="fa fa-google-plus-square social" aria-hidden="true"></i>
          </div>

      </div>

    </div>

  </div>
