.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.jumbotron {
  background-color: rgba(240, 240, 240, 0.72);
  box-shadow: 0 0 10px rgb(207, 174, 249);
  font-family: 'Open Sans Condensed', sans-serif;
}
.jumbotron h1 {
  font-size: 90px;
}
nav {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
}
nav li a {
  font-size: 1.3em;
}
.fun {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  padding: 40px 0 40px;
  width: 100%;
}
.fun i {
  height: 120px;
  width: 120px;
  font-size: 80px;
  padding:25px 20px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.fun p {
  font-size: 20px;
}
.fun h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
.footer {
  background-color: #323232;
  color: white;
  width: 100%;
}
.footer .social {
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}
